$welcome_image: url('../../images/aviwelcomebackground.png');

$black_d: #F5DEB3;
  
$extra_small: 280px;
$small: 412px;
$mid_medium: 601px;
$medium: 768px;
$large: 992px;
$extra_large: 1200px;

/* Small devices (laptops/desktops, 992px and up) */

@media only screen  
    and (min-width: $small) 
    and (max-width: $medium) {
        .welcome_page_background {
            min-height: 100vh;
            background: $welcome_image;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
    
        }
}

/* Medium devices (laptops/desktops, 992px and up) */
@media only screen 
    and (min-width: $medium)
    and (max-width: 1999px) {
        .welcome_page_background {
            min-height: 100vh;
            background: $welcome_image;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
    }

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* ----------- Non-Retina Screens ----------- */
@media only screen 
    and (min-width: $extra_large) 
    and (-webkit-min-device-pixel-ratio: 1) {
        .welcome_page_background {
            min-height: 100vh;
            background: $welcome_image;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
        }
    }