$offcanvas-width: 300px;
//$topNavbarHeight: 56px;
.card_dash {
  border-radius: 15px;
}
#card_1 {
  background: #67A7B0;
}
#card_2 {
  background: #F6A47A;
}
#card_3 {
  background: #2C7B77;
}
#card_4 {
  background: #7B2C30;
}
#card_5{
  background: #C89487;
}
#card_6{
  background: #F47878;
}
#card_7{
  background: #87B3BE;
}
#card_8{
  background: #0E6375;
}
.nav_list{
    background: #0E6375;
}
.sidebar-nav {
  width: $offcanvas-width;
  background: #0E6375;
  border-radius: 0 20px 20px 0;
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
/*
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: $offcanvas-width;
  }
  //this is to remove the backdrop 
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - 56px);
    top: $topNavbarHeight;
  }
}*/