//calendar styles
.calendar-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
}

.calendar-table tr,
.calendar-table td {
    border: 2px solid rgba(200, 200, 200, 0.5);
    padding: 10px;
    font-weight: 600;
    padding: 0px;


}

.calendar-month-prev {
    background-color: #FFFAF0;
}

.calendar-month-next {
    background-color: #FFFAF0;
}

.calendar-days-tr {
    background: #67A7B0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0E6375, #87B3BE);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0E6375, #87B3BE);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    height: 7vh;

}

.calendar-day {
    height: 10vh;
    div{
        display: block;
    }
    .day{
        padding-top: 0.5em;
    }
}

.calendar-toolbar {
    table {
        width: 100%;
    }


    .btn {
        background-color: #212121;
        color: #fff;
        border-radius: 1%;
        margin: 0px;
        height: 5vh;
    }

    input {
        height: 4.9vh;
        width: 50%;
        border-top-left-radius: 10px;
        box-shadow: none;
        padding: 7px 12px;
        font-size: 13px;
        line-height: 1.5384616;
        color: #333;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ddd;
        border-radius: 3px;
        transition: border-color ease-in-out .3s, box-shadow ease-in-out .3s;
    }

    input[type="date"]::-webkit-clear-button {
        display: none;
    }
  .today{
      font-size: 10px;
  }
}

.calendar-selected-date {
    
    background: #67A7B0 !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0E6375, #67A7B0) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0E6375, #67A7B0) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.calendar-holiday-prev,.calendar-holiday-next{
    background-color: #FFFAF0;   
}
.calendar-holiday-current{

    background: #C89487;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7B2C30, #C89487);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7B2C30, #C89487); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: #fff;    
}
.event_dot {
    font-size: "14px";
    color: "#212121";
}