$extra_small: 280px;
$small: 412px;
$mid_small: 575px;
$mid_medium: 601px;
$medium: 768px;
$large: 992px;
$extra_large: 1200px;

a {
    text-decoration: none;
}
a:hover {
 cursor: pointer;
}
@media only screen 
    and (min-width: $extra_small)
    and (max-width: $mid_small) {
        .box {
            height: 200px;
            width: 200px;
            text-transform: uppercase;
            border-radius: 20px;
            box-shadow: 0 5px 5px rgba(54, 43, 43, 0.4);
            color: white;
        }
        .portal_icon {
            font-size: 65px;
        }
        .portal_title {
            font-size: 20px;
        }
    }
    @media only screen 
    and (min-width: 576px) {
        .box {
            height: 380px;
            text-transform: uppercase;
            border-radius: 20px;
            box-shadow: 0 5px 5px rgba(54, 43, 43, 0.4);
            color: white;
        }
        .portal_icon {
            font-size: 200px;
        }
        .portal_title {
            font-size: 40px;
        }
    }
.box:hover {
    box-shadow: 0 5px 5px rgba(54, 43, 43, 0.6);
}

.box_1 {
    background: #67A7B0;
}
.box_1:hover {
    box-shadow: 0 5px 5px rgba(244,120,120,0.7);
    background: #67A7B0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F47878, #4E7E84);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F47878, #67A7B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.box_2 {
    background: #F6A47A;
}
.box_2:hover {
    box-shadow: 0 5px 5px rgba(135,179,190,0.7);
    background: #F6A47A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #87B3BE, #F6A47A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #87B3BE, #F6A47A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box_3 {
    background: #0E6375;
}
.box_3:hover {
    box-shadow: 0 5px 5px rgba(200,148,135,0.7);
    background: #0E6375;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom,#C89487, #0E6375);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #C89487, #0E6375); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box_4 {
    background: #7A2C30;
}
.box_4:hover {
    box-shadow: 0 5px 5px rgba(44,123,119,0.7);
    background: #7A2C30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C7B77, #7A2C30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C7B77, #7A2C30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box_5 {
    background: #F47878;
}
.box_5:hover {
    box-shadow: 0 5px 5px rgba(103,167,176,0.7);
    border: solid #F47878 2px;
    background: #F47878;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #67A7B0, #4E7E84);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #67A7B0, #F47878); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box_6 {
    background: #87B3BE;
}
.box_6:hover {
    box-shadow: 0 5px 5px rgba(246,164,122,0.7);
    background: #87B3BE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom,#F6A47A, #87B3BE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F6A47A, #87B3BE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box_7 {
    background: #2C7B77;
}
.box_7:hover {
    box-shadow: 0 5px 5px rgba(123,44,48,0.7);
    background: #2C7B77;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #7A2C30, #2C7B77);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #7A2C30, #2C7B77); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box_8 {
    background: #C89487;
}
.box_8:hover {
    box-shadow: 0 5px 5px rgba(14,99,117,0.7);
    background: #C89487;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0E6375, #C89487);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0E6375, #C89487); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}