
.ivt_qt_box { 
    background: $mistyrose;
    color: $mainDarkBlue;
    border-radius: 20px;
}
//=======inventory buttons-==========

.btn_csv {
    background: $mainMidBlue;
    color: $white;
    border-radius: 10px;
}
.btn_csv:hover {
    color: $mistyrose;
}

.btn_pdf1 {
    background: $mainMaroon;
    color: $white;
    border-radius: 10px; 
}
.btn_pdf1:hover {
    color: $mainLightBlue;
}
.ivt_cat_title {
    color: $mainDarkBlue
}
.ivt_detail_title {
    background: $mainMidBlue;
    border-bottom: $mainMidBlue;
    box-shadow: 0 5px 5px $mistyrose;
    border-radius: 20px 20px 0 0;
}
.ivt_btn1 {color: $midMaroon;}
.ivt_btn1:hover {color: $mainDarkBlue;}
.ivt_btn2 {color: white;}
.ivt_btn2_outline {
    border: 1px solid $mistyrose;
    border-radius: 10px;
    padding: .5rem;
    background: $mainLightBlue;
    box-shadow: 3px 3px 12px $mainMaroon;

}
.ivt_btn2_outline:hover {
    border: 2px solid $mainLightBlue;
    border-radius: 10px;
    padding: .5rem;
    background: $mainDarkBlue;
    box-shadow: 3px 3px 10px $mainLightBlue;
}
.ivt_btn3 {color: $mainMaroon}
.ivt_btn4 {
    background: $mainLightBlue;
    color: $white;
}
.ivt_btn4:hover {
    color: $mainLightBlue;
    background: $white;
    border: 1px solid $mainLightBlue;
}
.ivt_btn5 {
    background: $mainMidBlue;
    color: $white;
}
.ivt_btn5:hover {
    color: $mainMidBlue;
    background: $white;
    border: 1px solid $mainMidBlue;
}

.ivt_btn6 {
    color: $white;
    background: $mainMaroon;
    border: 1px solid $mainMaroon;
}
.ivt_btn6:hover {
    color: $mainMaroon;
    background: $white;
    border: 1px solid $mainMaroon;
}

.ivt_btn7 {
    color: $white;
    background: $mainDarkBlue;
    border: 1px solid $mainDarkBlue;
}
.ivt_btn7:hover {
    color: $mainDarkBlue;
    background: $white;
    border: 1px solid $mainDarkBlue;
}
//============detail page=============
.inventory_box_detail{
    border: 1px solid $mainMidBlue;
    border-radius: 20px;
    box-shadow: 0 5px 5px $mainDarkBlueAlpha;
    background: $white;
}
//========== edit page===========
.inventory_box_edit{
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 5px 5px $mainDarkBlueAlpha;
    background: $mistyrose;
}

//=================homepage===============
//10/6/21 move table css to main.scss

.table_bg {
    background: $offWhite;
}
 .inventory_box_search{
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 5px 5px $mainMaroonAlpha;
} 
.table_box {
    //overflow: hidden;
  //box-shadow: 4px 4px 16px 4px #3a3a3a0c;
    //border-radius: 10px;
    //border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    max-width: 1250px;
    margin: 3rem 1rem 1rem;
    background: $offWhite;
    //height: 100%;
    //border: 1px solid black;
    //border-radius: 0 0 20px 20px;
    //box-shadow: 0 10px 20px $maindarkbluealpha;
    //background: $mistyrose;
}
.custom_table {
    //overflow: hidden;
  //box-shadow: 4px 4px 16px 4px #3a3a3a0c;
  //border-radius: 10px;
  //border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  max-width: 1250px;
  margin: 3rem 1rem 1rem;
  background:$offWhite;
    //width: 100%;
    //border-spacing: 0;
    //padding-top: 2rem;
    //background: #F8F8FB;
    //transition: background .3s;
}


.table_body {
    background: $offWhite;
}
.ivt_row {
    border: 1px solid $blackAlpha2;
    border-radius: 12px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 0 3px 3px $mainDarkBlueAlpha2;
    background: $white;
}
.ivt_row:hover {
    border: 1px solid $mainLightBlue4;
    border-radius: 12px;
    padding-top: 27px;
    padding-bottom: 27px;
    background: $white;
    transition: background .3s;
    box-shadow: 0 4px 4px $mainMidBlue;
}

.ivt_hr {
    background: $mainDarkBlue;
}
//-----homepage table-
.ivt_cat {
    border: 1px solid $mainLightBlue2;
    background: $mainLightBlue3;
    box-shadow: 0 2px 2px $mainDarkBlueAlpha;
    border-radius: 5px;
    color: $mainDarkBlueAlpha
}
.ivt_date{
    border: 1px solid $mistyrose;
    background: white;
    box-shadow: 0 2px 2px $mistyrose;
    border-radius: 5px;
    color: $mainDarkBlue;
}
.ivt_item {
    color: $mainMaroon;
}
.ivt_item:hover {
    color: $mainDarkBlue;
}

//10/6/21 move to main.scss
//flex
.full_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.half_center {
    display: flex;
    justify-content: center;
}
.full_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.full_end {
    display: flex;
    align-items: center;
    justify-content: end;
}