$extra_small: 280px;
$small: 412px;
$mid_small: 575px;
$mid_medium: 601px;
$medium: 768px;
$large: 992px;
$extra_large: 1200px;

$mainYellow: #F6A47A;
$mainYellowAlpha: rgba(240, 160, 121, 0.3);
$mainYellowAlpha2: rgba(246,164,122,0.7);
$midYellow: #FBB08A;
$mainLightYellow: #F9D291;
$mainDarkBlue: rgb(14,99,117);
$mainDarkBlue2: #30526A;
$mainDarkBlueAlpha: rgba(14,99,117,0.7);
$mainDarkBlueAlpha2: rgba(14,99,117,0.3);
$mainMaroonAlpha3: rgba(14,99,117, 0.5);
$mainMidBlue: #67A7B0;
$mainMidBlue2: #0E6375;
$mainMidBlueAlpha: rgba(103,167,176,0.7);
$mainMidBlue2: #496369;
$mainLightBlue: #87B3BE;
$mainLightBlue2: rgba(14,99,117, 0.4);
$mainLightBlue3: rgba(135,179,190,0.4);
$mainLightBlue4: rgba(14,99,117, 0.2);
$mainLightBlueAlpha: rgba(135,179,190,0.3);
$mainLightBlueAlpha2: rgba(135,179,190,0.4);
$mainLightBlueAlpha3: rgba(135,179,190,0.4);
$mainLightBlueAlpha4: rgba(135,179,190,0.7);
$skyBlue: #076585;
$skyBlue2: #126B89;
$skyBlue3: #3A849E;
$mistyrose: #FFE4E1;
$mainMaroon: #723538;
$lightMaroon: #F17077;
$midMaroon: #C75D62;
$mainMaroonAlpha: rgba(114,53,56,0.3);
$mainMaroonAlpha2: rgba(123,44,48,0.7);
$white: #FFFFFF;
$blackAlpha1: rgba(54, 43, 43, 0.4);
$blackAlpha2: rgba(0,0,0,0.07);
$offWhite: #F8F8FB;
$mainPink: #F47878;
$mainLightPink: #F2C4BE;
$mainPinkAlpha: rgba(244,120,120,0.7);
$mainGreen: #2C7B77;
$mainGreenAlpha: rgba(44,123,119,0.3);
$mainGreenAlpha2: rgba(44,123,119,0.7);
$mainMidGreen: #40604D;
$mainLightGreen: #5EC9CC;
$purpleBlue: #91B9FA;
$mainTan: #C89487;
$mainTanAlpha: rgba(200,148,135,0.7);
$mainTanAlpha2: rgba(246,164,122,0.7);
$mainGray: #6B7C93;
$mainGray2: #D3D3D3;
$mainGray3: #126B89;
$mainGray3: #817B71;
//=======================
$mainColor: #15202B;
$secondaryColor: #192734;
$borderColor: #164D56;
$mainText: #fff;
$secondaryText: #eeeeee;
$themeDotBorder: #FFF;
$previewBg: #000000;
$previewShadow: #111921;
$buttonColor: #17a2b8;
$homeBoxShadow: rgba(54, 43, 43, 0.4)
//updated 10/6/21
//eventrually delete themes folder below