.banner {
  background: #076585; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #076585,
    #fff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #076585,
    #fff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.banner_ops {
   background: linear-gradient(
    to bottom,
    #5EC9CC,
    #91B9FA,
    #FFFFFF,
    );
}
.search_airs {
  color: #B88195;
}
.btn_airs {
  background: #126B89;
  color: #FFFFFF;
}
.banner_dvr {
   background: linear-gradient(
    to bottom,
    #076585,
    #F9D291,
    #555B5B
    );
}
.search_dvr {
  color: #555B5B;
}
.btn_dvr {
  background: #126B89;
  color: #FFFFFF;
}
.search_pet {
  color: #40604D;
}
.btn_pet {
  background: #3A849E;
  color: #F2C4BE;
}
.search_ops {
  color: #F47878;
}
.btn_ops {
  background: #67A7B0;
  color: #FFFFFF;
}
.banner_compliance {
  background: linear-gradient(
    to bottom,
    #F47878,
    #076585
 );
}
.search_comp {
  color: #7B2C30;
}
.btn_comp {
  background: #0E6375;
  color: #F6A47A;
}
.banner_sales {
  background: linear-gradient(
    to bottom,
    #076585,
    #FFFFFF,
    #F6A47A,
 );
}
.search_sales {
  color: #7B2C30;
}
.btn_sales {
  background: #076585;
  color: #FFFFFF;
}
.banner_tsa {
  background: linear-gradient(
    to bottom,
    #30526A,
    #FFFFFF
  
 );
}
.search_tsa {
  color: #30526A;
}
.btn_tsa {
  background: #2C7B77;
  color: #F9D291;
}
.banner_usda {
  background: linear-gradient(
    to bottom,
    #67A7B0,
    #FFFFFF
 );
}
.search_usda {
  color: #817B71;
}
.btn_usda {
  background: #2C7B77;
  color: #F6A47A;
}