$mainYellow: #F6A47A;
$mainYellowAlpha: rgba(240, 160, 121, 0.3);
$midYellow: #FBB08A;
$mainDarkBlue: rgb(14,99,117);
$mainDarkBlueAlpha: rgba(14,99,117,0.7);
$mainDarkBlueAlpha2: rgba(14,99,117,0.3);
$mainMaroonAlpha3: rgba(14,99,117, 0.5);
$mainMidBlue: #67A7B0;
$mainMidBlueAlpha: rgba(103,167,176,0.7);
$mainMidBlue2: #496369;
$mainLightBlue: #87B3BE;
$mainLightBlueAlpha: rgba(135,179,190,0.3);
$mainLightBlueAlpha2: rgba(135,179,190,0.4);
$mainLightBlueAlpha3: rgba(135,179,190,0.4);
$mainMaroon: #723538;
$lightMaroon: #F17077;
$midMaroon: #C75D62;
$mainMaroonAlpha: rgba(114,53,56,0.3);
$mainMaroonAlpha2: rgba(123,44,48,0.7);
$white: #FFFFFF;
$offWhite: #F8F8FB;
$mainPink: #F47878;
$mainPinkAlpha: rgba(244,120,120,0.7);
$mainGreen: #2C7B77;
$mainGreenAlpha: rgba(44,123,119,0.3);
$mainGreenAlpha2: rgba(44,123,119,0.7);
$mainTan: #C89487;
$mainTanAlpha: rgba(200,148,135,0.7);
$mainTanAlpha2: rgba(246,164,122,0.7);
$mainGray: #6B7C93;
$mainColor: #15202B;
$secondaryColor: #192734;
$borderColor: #164D56;
$mainText: #fff;
$secondaryText: #eeeeee;
$themeDotBorder: #FFF;
$previewBg: #000000;
$previewShadow: #111921;
$buttonColor: #17a2b8;
$homeBoxShadow: rgba(54, 43, 43, 0.4)
//updated 10/6/21
//eventrually delete themes folder below